* {
    margin: 0;
    padding: 0;
}

a {
    color: black !important;
    text-decoration: none;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 100px;
}

header a {
    text-transform: uppercase;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

nav a {
    position: relative;
}

a.active-link::after,
nav a:hover::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -2px;
    border-bottom: 1px solid black;
}

.btn {
    border-radius: 0;
}
